.skills {
  position: relative;
  padding-block: 100px;
}

.ellipse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  filter: blur(200px);
  background: linear-gradient(
      -82.3deg,
      rgba(255, 156, 84, 0.4) 35.892%,
      rgba(255, 255, 255, 0.22) 52.788%,
      rgba(0, 0, 0, 0) 72.629%
    ),
    radial-gradient(
      269.67% 95.26% at 43% 43%,
      rgb(98, 26, 190),
      rgba(36, 33, 75, 0) 100%
    );
}

.title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(90deg, #6b47a9, #a47560);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.subtitle {
  margin-bottom: 10px;
  font-size: 24px;
}

.items {
  display: flex;
  margin-bottom: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 100px;
}

.icon {
  width: 50px;
}
