* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(18, 17, 32);
  color: #fff;
}

.container {
  margin-inline: auto;
  max-width: 1200px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
